/*themvao*/
body{
    font-family: 'Roboto', sans-serif;
}

.section-footer{
  background-color: var(--primary) ;
  color: white !important;
}

.footer-top{
    width: 100%;
    height: 30%;
}

.section-footer .content-left{
    border-right: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
}


.section-footer .content-right{
    padding-top: 15px;
    padding-bottom: 15px;
}


.footer-top .lable{
    width: 148px;
}

.footer-top .fmail{
    /* width: 80%; */
}


.footer-top .btn-mail{
    position: absolute;
}







 





