.option{
    font-size: 13px;
}
.btn-add-cart{
    font-family: auto;
    line-height: 40px;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 15px;
    text-align: center;
    background-color: rgba(9, 6, 175, 0.767);
}
.btn-add-cart a{
    font-size: large;
    color: white;
}

.box-contact{
    position: relative;
    margin-bottom: 15px;
}
.box-contact .icon {
    width: 41px;
    height: 41px;
    border-radius: 100%;
    display: inline-block;
    background: #183a97;
    color: #FFF;
    font-size: 24px;
    text-align: center;
    line-height: 41px;
    float: left;
    transform: rotateY(180deg);
}
.box-contact .address, .box-contact .note {
    display: block;
    margin-left: 50px;
}
.box-contact .note {
    color: #666;
}
.box-attr {
    overflow: hidden;
}
.box-attr ul {
    width: 100%;
    display: table;
    text-align: center; 
    margin: 0;
    padding: 0;
}
.box-attr ul li {
    display: table-cell;
    border: 1px solid #e4e4e4;
    border-right: 1px solid #FFF;
    background: #eeeeee;
    padding: 6px 10px;
    width: 20%;
}
.box-attr .val {
    display: block;
    font-weight: 700;
}

.entry-box > h3 {
    margin: 0 0 15px;
    font-size: 14px;
    background: #f2f2f2;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 15px 13px;
}
.options-list {
    width: 100%;
}
table {
    background-color: transparent;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.options-list td {
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f2;
}
.options-list tr:first-child td {
    padding-top: 0;
}
.options-list td.saperator {
    padding: 0 5px;
}

.entry-box > h3 {
    margin: 0 0 15px;
    font-size: 14px;
    background: #f2f2f2;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 15px 13px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
p {
    margin: 0 0 10px;
}

.widget-title {
    margin: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    background: #183a97;
    padding: 10px 15px 11px;
}
.widget li {
    padding: 14px 0;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    display: table;
    width: 100%;
}
.widget li:last-child {
    border-bottom: none;
}

#box-best-product li .thumb {
    float: left;
    margin-right: 15px;
    width: 130px;
}
#box-best-product li .thumb a {
    display: block;
    position: relative;
    padding-top: 0px;
}
#box-best-product li .text {
    font-weight: 700;
}
#box-best-product li .text a {
    color: #183a97;
    display: block;
}
#box-best-product li .text span {
    color: #ee0c0c;
}

.detail-scroll {
    padding: 15px;
    background: #eeeeee;
}
.list-power-item {
    overflow: hidden;
    margin-left: -6px;
    margin-right: -6px;
}
.list-power-item li:hover a, .list-power-item li.active a {
    background: #f5fbff;
    border: 1px solid #183a97;
}
.list-power-item a {
    display: block;
    background: #FFF;
    padding: 6px 10px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #e1e1e1;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
.detail-scroll .list-power-item li {
    width: 50%;
}
.list-power-item li {
    text-decoration: none;
    list-style-type: none;
    float: left;
    width: 25%;
    padding: 0 6px;
    margin-top: 10px;
}
.list-power-item li span {
    color: #ee0c0c;
}
.list-power-item li.active span.icon {
    color: #183a97;
    font-weight: 700;
}
